body {
  background-image: url(../img/bg_color.png);
}

.mainpage_logo {
  width: 100%;
  position: fixed;
}
.mainpage_nav {
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.container-fluid {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  padding: 0px;
}
.navbar {
  padding: 0px;
}
span {
  color: #ff00a4;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}
.main {
  margin-top: 100px;
  margin-left: -75px;
  position: fixed;
  top: 100px;
}

.aboutus {
  margin-top: 100px;
  margin-left: -100px;
  position: fixed;
  top: 300px;
}
.sidenav a img {
  margin-top: 20px;
  margin-left: 115px;
}
.pointing_finger {
  rotate: 30deg;
}
.pointing_finger:hover {
  rotate: 0deg;
}
.openNav {
  margin-right: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.sidenav a:hover {
  color: #ff00a4;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 80px;
  font-size: 50px;
  margin-left: 60px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.main_hand {
  position: fixed;
  bottom: 0px;
  left: 480px;
}

.small_finger {
  position: fixed;
  bottom: 286px;
  left: 542px;
  z-index: -10;
}
.noname_finger {
  position: fixed;
  bottom: 330px;
  left: 670px;
  z-index: -10;
}
.middle_finger {
  position: fixed;
  bottom: 364px;
  left: 787px;
  z-index: -10;
}
.index_finger {
  position: fixed;
  bottom: 370px;
  left: 910px;
  z-index: -10;
}
.mother_finger {
  position: fixed;
  bottom: 196px;
  left: 839px;
  z-index: -10;
}

.small_finger_button {
  position: fixed;
  bottom: 443px;
  left: 554px;
}
.noname_finger_button {
  position: fixed;
  bottom: 562px;
  left: 650px;
}
.middle_finger_button {
  position: fixed;
  bottom: 620px;
  left: 756px;
}
.index_finger_button {
  position: fixed;
  bottom: 585px;
  left: 866px;
}
.mother_finger_button {
  position: fixed;
  bottom: 370px;
  left: 1034px;
}

.reset_button {
  position: fixed;
  right: 142px;
  bottom: 285px;
}
.reset_button :hover {
  cursor: pointer;
  content: url(/img/back_button_pressed.png);
  width: 115px;
  height: auto;
}

.ok_button {
  position: fixed;
  right: 142px;
  bottom: 140px;
}
.ok_button :hover {
  cursor: pointer;
  content: url(/img/ok_button_pressed.png);
  width: 260px;
  height: auto;
}

.small_finger_button input[type="checkbox"] {
  display: none;
}
.small_finger_button label:hover {
  cursor: pointer;
}
.small_finger_button input[type="checkbox"]:checked ~ label {
  display: none;
}

.noname_finger_button input[type="checkbox"] {
  display: none;
}
.noname_finger_button label:hover {
  cursor: pointer;
}
.noname_finger_button input[type="checkbox"]:checked ~ label {
  display: none;
}

.middle_finger_button input[type="checkbox"] {
  display: none;
}
.middle_finger_button label:hover {
  cursor: pointer;
}
.middle_finger_button input[type="checkbox"]:checked ~ label {
  display: none;
}

.index_finger_button input[type="checkbox"] {
  display: none;
}
.index_finger_button label:hover {
  cursor: pointer;
}
.index_finger_button input[type="checkbox"]:checked ~ label {
  display: none;
}

.mother_finger_button input[type="checkbox"] {
  display: none;
}
.mother_finger_button label:hover {
  cursor: pointer;
}
.mother_finger_button input[type="checkbox"]:checked ~ label {
  display: none;
}
.running_text_container {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.running_text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee4 10s linear infinite;
}
.running_text2 {
  display: inline-block;
  white-space: nowrap;
  animation: marquee5 10s linear infinite;
}
.running_text3 {
  display: inline-block;
  white-space: nowrap;
  animation: marquee6 10s linear infinite;
}
@keyframes marquee4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee5 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee6 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.text_chinese {
  color: rgb(255, 0, 0);
  -webkit-text-stroke-width: 1px;
  text-shadow: 3px 3px #ffffff;
  font-size: 48px;
  text-decoration-thickness: 10px;
  background-color: rgb(46, 255, 0);
  margin: 0px 0px;
  padding: 6px;
}

.small_finger_text {
  position: fixed;
  left: 510px;
  top: 190px;
}
.noname_finger_text {
  position: fixed;
  left: 620px;
  top: 90px;
}
.middle_finger_text {
  position: fixed;
  left: 735px;
  top: 60px;
}
.index_finger_text {
  position: fixed;
  right: 620px;
  top: 110px;
}
.mother_finger_text {
  position: fixed;
  right: 450px;
  bottom: 425px;
}
