.container-fluid {
  background-image: url(../img/navbar.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  padding: 0px;
}
.navbar {
  padding: 0px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.openNav {
  margin-right: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #ff00a4;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 80px;
  font-size: 50px;
  margin-left: 60px;
}
@media screen and (max-height: 1920px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .container {
    font-size: 20px;
  }
}
body {
  color: #ff00a4;
  background-color: #0077ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.mainpage_footer {
  margin-top: 100px;
}
.mainpage_footer {
  background-image: url(../img/footer.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between; /* 將內容分布在兩邊 */
  align-items: center; /* 確保 Logo 和 PlayAgain 圖片垂直對齊 */
  padding: 20px; /* 添加適當的內邊距 */
}
.footer_logo_img {
  width: 300px;
  height: auto;
  display: inline-block;
  margin: 50px;
  margin-left: 80px;
}
.pl_ag_button {
  height: auto;
  margin: 50px;
  display: inline-block;
  margin-right: 40px;
}
.playagain {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
/* 廣告彈窗樣式 */
.ad-popup {
  position: fixed; /* 支援動態定位 */
  width: 260px;
  height: 260px;
  z-index: 1000;
  display: none; /* 預設隱藏 */
  transition: top 0.3s ease, left 0.3s ease; /* 平滑移動效果 */
}

/* 廣告內容 */
.ad-content {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 廣告圖片 */
#ad-image {
  max-width: 240px;
  max-height: auto;
}

/* 關閉按鈕 */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #ff0000;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ad-popup {
  animation: fade-in 0.5s ease-in-out;
}
